.title {
  color: chartreuse;
  text-align: center;
  text-shadow: 3px 5px 5px blueviolet;
}

.container {
  width: 300px;
  height: 490px;
  border: 3px solid palegoldenrod;
  border-radius: 10px;
  margin-top: 70px;
  background-color: rgba(18, 28, 47, 0.8);
}

.btnDelete {
  margin-left: 90%;
  border-radius: 7px;
  background-color: palegoldenrod;
  border: 0.3rem solid transparent;
}

.img {
  border-radius: 20%;
}
