.border {
  border-radius: 5px;
  font-size: 18px;
  width: 40;
}
.btn {
  font-size: 18px;
  border-radius: 7px;
  background-color: palegoldenrod;
  border: 0.3rem solid transparent;
}

.margen {
  margin-right: 80%;
}
